{
  "plugins": ["prettier-plugin-tailwindcss"],
  "proseWrap": "always",
  "singleQuote": true,
  "overrides": [
    { "files": "CHANGELOG.md", "options": { "proseWrap": "preserve" } },
    { "files": "goonpacks/**/*.md", "options": { "proseWrap": "preserve" } }
  ]
}
